# Frontend (Vite/React)
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.eslintcache

# Python/Django
__pycache__/
*.py[cod]
*.sqlite3
.env
.venv/
venv/
env/
media/
staticfiles/

# IDE / SO
.vscode/
.idea/
.DS_Store
